 body{
    margin: 0 0 0 0;
    background-color: #B3E5FC;
    height: 100vh;
    /*overflow : hidden;*/
    width: 100%;
}
.wrapper {
    height: 100vh;
}
.green {
    background-color: #A5D6A7 !important;
}
.white{
    background-color: #fff;

}
.red {
    background-color: #ef9a9a !important;
}
 .gameArea, .userArea{
    height: 47.5%;
     display : flex ;
     justify-content: center;
    /*margin-top: 50vh;*/
}

  .controlArea{
      display : flex ;
      justify-content: center;
    height: 5%;
}
/*.letter{*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/
 button > span{
     display: table-cell;
vertical-align: middle;
     line-height :   88px;
 }